*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    height: 90%;
    
}
.secondoEsercizio{
    height: 10%;
}

.messaggioPositivo{
    color: green;
}
.messaggioNegativo{
    color: red;
}
.inserisciEmail{
    color: black;
}